body{
    font-family: 'Montserrat', sans-serif;
    line-height:1.0;
}

section{
    padding: 20px 30px;
    margin-bottom: 20px;
}

.navigasi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo{
    height: 4rem;
    width: auto;
    object-fit: contain;
}

.navigasi-menu{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navigasi-menu a{
    color: green;
}

.welcome h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.company-image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.welcome h2{
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
}

.welcome p{
    font-size: 1.2rem;
    text-align: center;
    color: gray;
    margin-bottom: 30px;
    font-weight: 0;
}

.welcome h3{
    text-align: center;
}

.headquarters{
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.headquarters-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.about-us, .vission, .mission{
    margin-top: 30px;
}

.form-kontak{
    margin-right: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-wm{
    text-align: end;
    padding: 5px 20px;
}

input, textarea{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid grey;
}

#nama{
    height: 30px;
    width: auto;
    border-radius: 10px;
}
